# Sample

In [3]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-

import xml.etree.ElementTree as ET  # Use cElementTree or lxml if too slow

OSM_FILE = "boston_massachusetts.osm"  # Replace this with your osm file
SAMPLE_FILE = "boston_massachusetts_sample.osm"

k = 100 # Parameter: take every k-th top level element

def get_element(osm_file, tags=('node', 'way', 'relation')):
    """Yield element if it is the right type of tag

    Reference:
    http://stackoverflow.com/questions/3095434/inserting-newlines-in-xml-file-generated-via-xml-etree-elementtree-in-python
    """
    context = iter(ET.iterparse(osm_file, events=('start', 'end')))
    _, root = next(context)
    for event, elem in context:
        if event == 'end' and elem.tag in tags:
            yield elem
            root.clear()


with open(SAMPLE_FILE, 'wb') as output:
    output.write('<?xml version="1.0" encoding="UTF-8"?>\n')
    output.write('<osm>\n  ')

    # Write every kth top level element
    for i, element in enumerate(get_element(OSM_FILE)):
        if i % k == 0:
            output.write(ET.tostring(element, encoding='utf-8'))

    output.write('</osm>')

## File sizes

In [45]:
import os
print "file {!r} is {!s} MB".format(i,round(os.path.getsize("boston_massachusetts.osm")/(1024*1024.0),1))

file 2241802 is 414.2 MB

## Quiz: Iterative Parsing

In [9]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-
"""
Your task is to use the iterative parsing to process the map file and
find out not only what tags are there, but also how many, to get the
feeling on how much of which data you can expect to have in the map.
Fill out the count_tags function. It should return a dictionary with the 
tag name as the key and number of times this tag can be encountered in 
the map as value.

Note that your code will be tested with a different data file than the 'example.osm'
"""
import xml.etree.cElementTree as ET
import pprint

def count_tags(filename):
        # YOUR CODE HERE
    tags = {}
    context = ET.iterparse(filename)
    for event, elem in context:
        if elem.tag not in tags.keys():
            tags[elem.tag] = 1
        else:
            tags[elem.tag] +=1
    return tags

#def test():
#
#    tags = count_tags('example.osm')
#    pprint.pprint(tags)
#    assert tags == {'bounds': 1,
#                     'member': 3,
#                     'nd': 4,
#                     'node': 20,
#                     'osm': 1,
#                     'relation': 1,
#                     'tag': 7,
#                     'way': 1}
#
#    
#
#if __name__ == "__main__":
#    test()
tags = count_tags(SAMPLE_FILE)
#tags = count_tags(OSM_FILE)
pprint.pprint(tags)

{'member': 188,
 'nd': 22220,
 'node': 19315,
 'osm': 1,
 'relation': 13,
 'tag': 9123,
 'way': 3091}

## Quiz: Tag Types

In [47]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-
import xml.etree.cElementTree as ET
import pprint
import re
"""
Your task is to explore the data a bit more.
Before you process the data and add it into your database, you should check the
"k" value for each "<tag>" and see if there are any potential problems.

We have provided you with 3 regular expressions to check for certain patterns
in the tags. As we saw in the quiz earlier, we would like to change the data
model and expand the "addr:street" type of keys to a dictionary like this:
{"address": {"street": "Some value"}}
So, we have to see if we have such tags, and if we have any tags with
problematic characters.

Please complete the function 'key_type', such that we have a count of each of
four tag categories in a dictionary:
  "lower", for tags that contain only lowercase letters and are valid,
  "lower_colon", for otherwise valid tags with a colon in their names,
  "problemchars", for tags with problematic characters, and
  "other", for other tags that do not fall into the other three categories.
See the 'process_map' and 'test' functions for examples of the expected format.
"""

lower = re.compile(r'^([a-z]|_)*$', re.IGNORECASE)
lower_colon = re.compile(r'^([a-z]|_)*:([a-z]|_)*$', re.IGNORECASE)
problemchars = re.compile(r'[=\+/&<>;\'"\?%#$@\,\. \t\r\n]', re.IGNORECASE)


def key_type(element, keys):
    if element.tag == "tag":
        # YOUR CODE HERE
        v = element.attrib["k"]
        #print problemchars.match(v)
        if lower.match(v) != None:
            keys["lower"] +=1
        elif lower_colon.match(v) != None:
            keys["lower_colon"] +=1
        elif problemchars.match(v) != None:
            keys["problemchars"] +=1
        else:
            #print v
            keys["other"] +=1    
        pass
        
    return keys



def process_map(filename):
    keys = {"lower": 0, "lower_colon": 0, "problemchars": 0, "other": 0}
    for _, element in ET.iterparse(filename):
        keys = key_type(element, keys)

    return keys



#def test():
#    # You can use another testfile 'map.osm' to look at your solution
#    # Note that the assertion below will be incorrect then.
#    # Note as well that the test function here is only used in the Test Run;
#    # when you submit, your code will be checked against a different dataset.
#    keys = process_map('example.osm')
#    pprint.pprint(keys)
#    assert keys == {'lower': 5, 'lower_colon': 0, 'other': 1, 'problemchars': 1}
#
#
#if __name__ == "__main__":
#    test()
keys = process_map(SAMPLE_FILE)
#keys = process_map(OSM_FILE)
pprint.pprint(keys)

{'lower': 7930, 'lower_colon': 1148, 'other': 45, 'problemchars': 0}

## Quiz: Exploring Users

In [274]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-
import xml.etree.cElementTree as ET
import pprint
import re
"""
Your task is to explore the data a bit more.
The first task is a fun one - find out how many unique users
have contributed to the map in this particular area!

The function process_map should return a set of unique user IDs ("uid")
"""

def get_user(element):
    uid = element.attrib['uid']
    return uid


def process_map(filename):
    users = set()
    for _, element in ET.iterparse(filename):
        if element.tag in ['node', 'way', 'relation']:
            uid = get_user(element)
            users.add(uid)
        pass

    return users


#def test():
#
#    users = process_map('example.osm')
#    pprint.pprint(users)
#    assert len(users) == 6
#
#
#
#if __name__ == "__main__":
#    test()
users = process_map(SAMPLE_FILE)
#users = process_map(OSM_FILE)

print len(users)
pprint.pprint(users)

1310
set(['1',
     '100042',
     '100049',
     '100054',
     '1001936',
     '1001987',
     '1002877',
     '1002879',
     '100643',
     '100884',
     '101433',
     '102066',
     '1024769',
     '103253',
     '1034',
     '103574',
     '1041828',
     '104829',
     '104962',
     '1051550',
     '105191',
     '106602',
     '106909',
     '1069176',
     '1072240',
     '107257',
     '1080494',
     '108069',
     '1082652',
     '108403',
     '1084189',
     '108775',
     '1093220',
     '110263',
     '110489',
     '11126',
     '111652',
     '111714',
     '112350',
     '1127439',
     '113450',
     '1137433',
     '1137518',
     '1137571',
     '1137842',
     '114161',
     '115141',
     '115653',
     '116029',
     '1163952',
     '118021',
     '118103',
     '1182159',
     '118856',
     '1194974',
     '1195220',
     '1197653',
     '119838',
     '1198553',
     '119881',
     '1200061',
     '1203164',
     '1203395',
     '120468',
     '1206577',
     '1207173',
     '1211611',
     '1211653',
     '1212788',
     '1214132',
     '1225139',
     '1225166',
     '1231374',
     '1236148',
     '123633',
     '1237756',
     '123960',
     '1240849',
     '1241491',
     '1245715',
     '1246499',
     '1260280',
     '128017',
     '128470',
     '1288',
     '129422',
     '1294353',
     '129614',
     '130117',
     '130472',
     '1306',
     '130680',
     '13072',
     '1308606',
     '131059',
     '131160',
     '1323363',
     '132538',
     '1326885',
     '1330847',
     '133347',
     '134535',
     '13470',
     '1347955',
     '135163',
     '1355520',
     '1355899',
     '1376118',
     '137651',
     '1383',
     '1388012',
     '138879',
     '139108',
     '13957',
     '139856',
     '140746',
     '1408522',
     '141442',
     '1418137',
     '1420318',
     '1424293',
     '1424907',
     '1425236',
     '1425455',
     '1425650',
     '1425960',
     '1429197',
     '14293',
     '1431003',
     '1431032',
     '14319',
     '1434001',
     '1443767',
     '1444475',
     '145231',
     '146680',
     '1469704',
     '1472711',
     '1475584',
     '1475917',
     '1482725',
     '14850',
     '1494110',
     '149682',
     '1498035',
     '1501513',
     '1502249',
     '150692',
     '151559',
     '152074',
     '152283',
     '152289',
     '1532625',
     '153669',
     '153687',
     '153719',
     '1537834',
     '154691',
     '154730',
     '1551707',
     '1554107',
     '1556219',
     '156406',
     '157112',
     '15750',
     '158555',
     '1589336',
     '159621',
     '1596312',
     '160949',
     '161029',
     '1623274',
     '1624486',
     '162924',
     '163396',
     '164074',
     '1641847',
     '164656',
     '165061',
     '1651798',
     '16558',
     '16591',
     '166129',
     '1663783',
     '16669',
     '1670311',
     '167417',
     '1679',
     '1679807',
     '1684006',
     '1689',
     '169004',
     '1691206',
     '1694420',
     '1695149',
     '169785',
     '170672',
     '1708831',
     '1709771',
     '1713504',
     '171723',
     '172061',
     '1721804',
     '1722890',
     '1722904',
     '1723055',
     '1723791',
     '1723831',
     '1725973',
     '1726658',
     '172941',
     '1733549',
     '173918',
     '1739369',
     '1742118',
     '1744893',
     '1746161',
     '17474',
     '1750383',
     '175058',
     '1754023',
     '175600',
     '1757436',
     '1758669',
     '1762154',
     '1764348',
     '1764508',
     '1769868',
     '1778210',
     '1778220',
     '1778225',
     '1778291',
     '1778799',
     '1778987',
     '1779133',
     '1779679',
     '1779695',
     '1780522',
     '1781546',
     '1781674',
     '178186',
     '1783785',
     '1786247',
     '179506',
     '1795607',
     '1797518',
     '179778',
     '1802093',
     '1802220',
     '1802894',
     '1805478',
     '18069',
     '181135',
     '1815394',
     '1815503',
     '18245',
     '182538',
     '1825528',
     '1829683',
     '1831500',
     '1832883',
     '1836471',
     '184480',
     '1845440',
     '1847014',
     '1851008',
     '1851788',
     '1852873',
     '1856894',
     '185721',
     '18575',
     '1860061',
     '186159',
     '186242',
     '1867697',
     '1867872',
     '1868739',
     '1868865',
     '1869000',
     '1869781',
     '1870154',
     '1870581',
     '187085',
     '1870921',
     '187395',
     '187467',
     '1881064',
     '1884019',
     '1884716',
     '1884900',
     '188805',
     '1888384',
     '1889066',
     '1891908',
     '1892225',
     '1894926',
     '1896093',
     '1897137',
     '1898687',
     '190058',
     '1906105',
     '1907099',
     '1907919',
     '190869',
     '1909706',
     '191339',
     '1916410',
     '1916530',
     '1916789',
     '1916791',
     '1923949',
     '1928400',
     '1933856',
     '1934254',
     '194284',
     '1943392',
     '1944292',
     '19492',
     '1950500',
     '1956174',
     '1956483',
     '1959158',
     '1960024',
     '1962137',
     '1962477',
     '1962596',
     '1962640',
     '1963256',
     '19633',
     '1963816',
     '1963851',
     '1963872',
     '1964257',
     '1965870',
     '1966468',
     '1976303',
     '1976504',
     '197884',
     '198104',
     '19862',
     '198831',
     '1988331',
     '19889',
     '1990083',
     '1991348',
     '199179',
     '1996327',
     '1996396',
     '1996638',
     '2000490',
     '2001742',
     '2007000',
     '200869',
     '200922',
     '2012330',
     '2012449',
     '2013018',
     '201359',
     '2015224',
     '2016427',
     '2017426',
     '2017504',
     '2017862',
     '2022166',
     '2028358',
     '2031562',
     '2032436',
     '2034919',
     '2035184',
     '2044639',
     '2045570',
     '2049068',
     '2049208',
     '2053369',
     '2057798',
     '2061617',
     '2063579',
     '2065004',
     '206625',
     '206650',
     '206961',
     '2073126',
     '2075680',
     '207581',
     '207745',
     '2078447',
     '207849',
     '2080154',
     '2082409',
     '2082934',
     '2087539',
     '209794',
     '2105048',
     '210579',
     '2106165',
     '2109001',
     '2110311',
     '211162',
     '2113072',
     '2115749',
     '2118269',
     '2120951',
     '2127825',
     '2129935',
     '2135320',
     '213831',
     '214436',
     '2146423',
     '2149413',
     '2152638',
     '2154001',
     '2159385',
     '2169258',
     '217070',
     '2172329',
     '2176051',
     '2176066',
     '2176257',
     '2178230',
     '2178377',
     '2188191',
     '2190045',
     '2191263',
     '2191286',
     '21931',
     '219338',
     '2195574',
     '2201299',
     '2209894',
     '221294',
     '2214259',
     '2219338',
     '2219985',
     '2224951',
     '2226712',
     '22347',
     '2242246',
     '224440',
     '22481',
     '2252683',
     '2253444',
     '2256045',
     '2256352',
     '2257567',
     '2257596',
     '2257601',
     '2267677',
     '227972',
     '2283628',
     '2288919',
     '2288981',
     '2294536',
     '2296882',
     '230404',
     '2309306',
     '2318',
     '2320085',
     '2320956',
     '232126',
     '233028',
     '2330764',
     '23351',
     '23500',
     '2353539',
     '236172',
     '2362502',
     '236651',
     '2374509',
     '23768',
     '2377377',
     '2377453',
     '2384071',
     '2384237',
     '2389162',
     '2393270',
     '2406257',
     '2406578',
     '2407850',
     '24083',
     '2409338',
     '2411240',
     '241195',
     '2412184',
     '2413000',
     '2416138',
     '2418762',
     '2433146',
     '2434927',
     '24403',
     '2441744',
     '2441830',
     '2442126',
     '24452',
     '244562',
     '244754',
     '2456153',
     '246',
     '2460384',
     '2462321',
     '2462466',
     '2467570',
     '246783',
     '246847',
     '2480633',
     '2481348',
     '2481934',
     '2482040',
     '24917',
     '249634',
     '2499878',
     '2500516',
     '2501310',
     '2504755',
     '2508151',
     '2511706',
     '2512300',
     '251543',
     '252811',
     '25398',
     '2550164',
     '2554698',
     '2555519',
     '256900',
     '25867',
     '2594053',
     '2604353',
     '2606610',
     '2613489',
     '2619595',
     '262151',
     '26299',
     '2631694',
     '2641307',
     '2644101',
     '2644389',
     '2646368',
     '2655992',
     '2656753',
     '26599',
     '2663533',
     '2663591',
     '2667082',
     '2673748',
     '2675126',
     '267808',
     '2678799',
     '268820',
     '27011',
     '270323',
     '271696',
     '2736760',
     '2748195',
     '2755647',
     '2758178',
     '2776669',
     '27824',
     '2789356',
     '2795667',
     '279849',
     '2800258',
     '280487',
     '2810683',
     '2814377',
     '28145',
     '2815098',
     '2817093',
     '2818856',
     '2822392',
     '282329',
     '2823295',
     '2825553',
     '283266',
     '2835928',
     '28378',
     '2845963',
     '2847988',
     '2851892',
     '28559',
     '2856801',
     '2856869',
     '285790',
     '2859289',
     '28595',
     '2859541',
     '286581',
     '2867344',
     '2869223',
     '28705',
     '28775',
     '287814',
     '2879927',
     '28841',
     '2889835',
     '289005',
     '289116',
     '2893052',
     '2894902',
     '29040',
     '2905914',
     '2906398',
     '290680',
     '290744',
     '2912460',
     '291598',
     '291987',
     '292665',
     '29320',
     '2935696',
     '2942213',
     '296112',
     '2962018',
     '29626',
     '296492',
     '2968904',
     '2971436',
     '297464',
     '2975978',
     '2976385',
     '2976428',
     '2978220',
     '2978523',
     '2978530',
     '2985232',
     '2997513',
     '3003968',
     '3004037',
     '300459',
     '30112',
     '301894',
     '3021902',
     '3040608',
     '3053220',
     '305666',
     '305740',
     '3057995',
     '306962',
     '307200',
     '307202',
     '3072891',
     '307520',
     '3084391',
     '30891',
     '3103451',
     '310589',
     '311102',
     '3111727',
     '31231',
     '315015',
     '3151684',
     '3159838',
     '316630',
     '3167447',
     '3167969',
     '317014',
     '3178375',
     '3185877',
     '319029',
     '3198900',
     '3200883',
     '3201650',
     '3208194',
     '3215077',
     '3216582',
     '3218362',
     '321862',
     '3228791',
     '3233289',
     '3239346',
     '3245344',
     '3246277',
     '3247866',
     '3253363',
     '3254269',
     '326503',
     '327264',
     '327615',
     '329453',
     '329457',
     '32952',
     '3295568',
     '3298060',
     '3312230',
     '3323723',
     '3343919',
     '334819',
     '3349114',
     '3349259',
     '3355238',
     '336460',
     '3378149',
     '3386662',
     '339172',
     '3392638',
     '339581',
     '3396423',
     '3401472',
     '3402346',
     '3404658',
     '3406980',
     '341519',
     '342831',
     '3431648',
     '3431871',
     '3445666',
     '3449457',
     '345449',
     '3461612',
     '3461676',
     '3461679',
     '3461680',
     '3461682',
     '3461700',
     '3476846',
     '3478684',
     '3510619',
     '3516',
     '3518484',
     '3521724',
     '352232',
     '352459',
     '3524812',
     '3525162',
     '3526564',
     '3538037',
     '3545890',
     '3546',
     '354704',
     '355242',
     '355617',
     '3561868',
     '3563758',
     '3569806',
     '3571425',
     '3573011',
     '3573157',
     '3573696',
     '357573',
     '3580833',
     '3582',
     '3587625',
     '359096',
     '3601892',
     '360392',
     '360734',
     '36080',
     '3609361',
     '3619065',
     '3636223',
     '3639088',
     '364',
     '36443',
     '3648215',
     '36491',
     '3650374',
     '365944',
     '366429',
     '3666197',
     '3666425',
     '367870',
     '368152',
     '368215',
     '3685345',
     '3695506',
     '3695876',
     '3705690',
     '3708955',
     '3711221',
     '3718086',
     '3718373',
     '371849',
     '371913',
     '372341',
     '372391',
     '372410',
     '3737422',
     '374003',
     '3745364',
     '3753426',
     '37548',
     '3758890',
     '3759677',
     '3762030',
     '3769434',
     '3778738',
     '3781825',
     '378464',
     '3786231',
     '379817',
     '3798230',
     '3803024',
     '3815604',
     '381909',
     '3819301',
     '3828875',
     '38446',
     '3846187',
     '3846416',
     '38487',
     '384894',
     '384967',
     '3851575',
     '3856750',
     '3860505',
     '387326',
     '3876243',
     '3877019',
     '38784',
     '38786',
     '389015',
     '389825',
     '3901959',
     '3908961',
     '3912946',
     '3917822',
     '3939659',
     '39457',
     '3959961',
     '3960284',
     '3962',
     '39636',
     '3966467',
     '396743',
     '39688',
     '398086',
     '3983283',
     '3984278',
     '398472',
     '398754',
     '3991514',
     '40023',
     '401059',
     '4011213',
     '401297',
     '401813',
     '4018842',
     '402279',
     '4023222',
     '40242',
     '402624',
     '405107',
     '4051669',
     '4054',
     '4054309',
     '4058837',
     '4063664',
     '406924',
     '4086347',
     '409119',
     '409501',
     '409505',
     '409514',
     '409549',
     '409611',
     '409619',
     '409620',
     '410823',
     '41158',
     '41197',
     '412390',
     '413047',
     '414236',
     '4146621',
     '4154469',
     '4161711',
     '4173158',
     '4173659',
     '417435',
     '4177548',
     '4183803',
     '41904',
     '419228',
     '420420',
     '42123',
     '42191',
     '4219981',
     '4226134',
     '422979',
     '42429',
     '4245387',
     '4271156',
     '4281881',
     '4296217',
     '4297585',
     '4305288',
     '4308380',
     '431056',
     '4317003',
     '4318902',
     '4319101',
     '4322876',
     '433338',
     '433472',
     '4342887',
     '4351550',
     '4352083',
     '436145',
     '4362436',
     '4363',
     '436419',
     '4367270',
     '4375102',
     '437598',
     '437878',
     '438139',
     '4384367',
     '439046',
     '4400719',
     '440325',
     '4406721',
     '441829',
     '4419691',
     '4422446',
     '4424608',
     '4424778',
     '443130',
     '4446424',
     '4456286',
     '445671',
     '4459317',
     '447903',
     '4499',
     '45027',
     '451048',
     '451494',
     '452490',
     '452630',
     '45347',
     '4542719',
     '454589',
     '4547353',
     '4552415',
     '4552801',
     '4554452',
     '4558158',
     '456511',
     '45756',
     '4576322',
     '4581744',
     '458202',
     '4582473',
     '46054',
     '4610937',
     '4617396',
     '46220',
     '4627466',
     '4633019',
     '463504',
     '4643671',
     '4650332',
     '465068',
     '4652571',
     '4657750',
     '4667099',
     '4669480',
     '467894',
     '470151',
     '470222',
     '4704631',
     '473104',
     '4732',
     '473471',
     '4739420',
     '474419',
     '475877',
     '476764',
     '4788',
     '47892',
     '4791414',
     '479256',
     '4792851',
     '4797473',
     '47978',
     '4801391',
     '48060',
     '4809863',
     '4812440',
     '4813820',
     '481533',
     '482167',
     '4835177',
     '4839899',
     '485740',
     '485808',
     '487373',
     '487535',
     '4883059',
     '488309',
     '488752',
     '48879',
     '490580',
     '491963',
     '492311',
     '4931698',
     '4934972',
     '4937878',
     '494790',
     '4951',
     '4952389',
     '4955841',
     '4962622',
     '4963142',
     '496920',
     '49924',
     '499385',
     '4995081',
     '4998946',
     '4999375',
     '500006',
     '5009416',
     '501030',
     '50118',
     '5011862',
     '5012673',
     '5013298',
     '5014050',
     '5018681',
     '5024550',
     '50357',
     '505131',
     '5076623',
     '5085417',
     '5089369',
     '5092330',
     '5099203',
     '5100034',
     '510166',
     '51045',
     '510486',
     '510836',
     '511518',
     '5115887',
     '513142',
     '5145923',
     '5164',
     '516699',
     '5171456',
     '517346',
     '5177468',
     '5180573',
     '5180925',
     '5181510',
     '5182628',
     '5183284',
     '5184060',
     '5184257',
     '5184296',
     '5184604',
     '5185638',
     '5187201',
     '5193879',
     '519649',
     '5201567',
     '5201661',
     '5202150',
     '5202690',
     '5204099',
     '5204349',
     '5204533',
     '5215226',
     '521572',
     '5215957',
     '521684',
     '5217679',
     '5231068',
     '5232699',
     '523735',
     '5237810',
     '523850',
     '5238996',
     '52411',
     '524331',
     '5248807',
     '525622',
     '5259531',
     '527535',
     '52797',
     '528734',
     '52921',
     '530097',
     '53050',
     '5306',
     '532808',
     '533465',
     '5359',
     '53964',
     '54419',
     '544637',
     '544696',
     '554724',
     '55782',
     '558778',
     '560216',
     '563322',
     '563947',
     '567237',
     '571921',
     '57275',
     '5735',
     '574454',
     '574654',
     '575547',
     '579793',
     '579841',
     '580678',
     '58277',
     '58305',
     '58469',
     '584850',
     '586977',
     '590608',
     '595221',
     '596047',
     '598539',
     '598602',
     '599436',
     '59988',
     '602100',
     '602611',
     '602884',
     '603517',
     '604327',
     '605136',
     '605672',
     '60604',
     '60744',
     '609760',
     '61257',
     '612988',
     '61323',
     '613824',
     '614486',
     '616766',
     '616774',
     '618377',
     '618477',
     '618879',
     '61954',
     '620218',
     '620267',
     '620387',
     '620608',
     '621028',
     '621202',
     '62133',
     '624003',
     '626367',
     '627713',
     '630391',
     '63107',
     '632378',
     '634603',
     '6367',
     '637764',
     '640319',
     '640756',
     '64381',
     '64482',
     '645457',
     '645569',
     '646322',
     '648374',
     '65148',
     '651839',
     '651877',
     '652566',
     '654051',
     '65418',
     '655298',
     '657125',
     '657886',
     '66391',
     '665017',
     '668245',
     '668315',
     '670691',
     '673788',
     '674872',
     '677304',
     '67862',
     '68540',
     '689576',
     '68982',
     '690266',
     '69102',
     '693154',
     '694365',
     '69607',
     '69777',
     '699839',
     '701297',
     '701372',
     '702691',
     '703517',
     '706159',
     '706170',
     '706371',
     '70696',
     '710074',
     '71475',
     '715371',
     '716675',
     '718810',
     '7203',
     '722137',
     '725620',
     '729',
     '729771',
     '734072',
     '7412',
     '74295',
     '743874',
     '745841',
     '74745',
     '74937',
     '757042',
     '76002',
     '762855',
     '764185',
     '772728',
     '78656',
     '7906',
     '795290',
     '79591',
     '799034',
     '79933',
     '80088',
     '80285',
     '809546',
     '81204',
     '81285',
     '81676',
     '81693',
     '81909',
     '819341',
     '833406',
     '834480',
     '83629',
     '837066',
     '837359',
     '837425',
     '83906',
     '843366',
     '846445',
     '84681',
     '85140',
     '85212',
     '85218',
     '85280',
     '8561',
     '86080',
     '8609',
     '86253',
     '863163',
     '863564',
     '86806',
     '869',
     '8699',
     '8703',
     '870861',
     '871001',
     '871369',
     '8764',
     '878284',
     '88164',
     '884156',
     '884543',
     '8909',
     '891291',
     '90000',
     '9034',
     '911255',
     '91135',
     '91499',
     '915590',
     '918423',
     '91847',
     '92274',
     '92286',
     '927001',
     '928638',
     '92937',
     '932658',
     '933797',
     '933941',
     '93524',
     '937678',
     '940816',
     '94578',
     '94849',
     '950045',
     '950182',
     '95293',
     '957',
     '964444',
     '966176',
     '967119',
     '967832',
     '96974',
     '972894',
     '97411',
     '975424',
     '985060',
     '98682',
     '9903',

## Quiz: Improving Street Names

In [197]:
"""
Your task in this exercise has two steps:

- audit the OSMFILE and change the variable 'mapping' to reflect the changes needed to fix 
    the unexpected street types to the appropriate ones in the expected list.
    You have to add mappings only for the actual problems you find in this OSMFILE,
    not a generalized solution, since that may and will depend on the particular area you are auditing.
- write the update_name function, to actually fix the street name.
    The function takes a string with street name as an argument and should return the fixed name
    We have provided a simple test so that you see what exactly is expected
"""
import xml.etree.cElementTree as ET
from collections import defaultdict
import re
import pprint

#OSMFILE = "example.osm"
street_type_re = re.compile(r'\b\S+\.?$', re.IGNORECASE)


expected = ["Street", "Avenue", "Boulevard", "Drive", "Court", "Place", "Square", "Lane", "Road", 
            "Trail", "Parkway", "Commons", 'Circle','Highway','Center','Turnpike','Way']




def audit_street_type(street_types, street_name):
    m = street_type_re.search(street_name)
    if m:
        street_type = m.group()
        if street_type not in expected:
            street_types[street_type].add(street_name)


def is_street_name(elem):
    return (elem.attrib['k'] == "addr:street")


def audit(osmfile):
    osm_file = open(osmfile, "r")
    street_types = defaultdict(set)
    for event, elem in ET.iterparse(osm_file, events=("start",)):

        if elem.tag == "node" or elem.tag == "way":
            for tag in elem.iter("tag"):
                if is_street_name(tag):
                    audit_street_type(street_types, tag.attrib['v'])
    osm_file.close()
    return street_types


#def test():
#    st_types = audit(OSMFILE)
#    assert len(st_types) == 3
#    pprint.pprint(dict(st_types))
#
#    for st_type, ways in st_types.iteritems():
#        for name in ways:
#            better_name = update_name(name, mapping)
#            print name, "=>", better_name
#            if name == "West Lexington St.":
#                assert better_name == "West Lexington Street"
#            if name == "Baldwin Rd.":
#                assert better_name == "Baldwin Road"
#
#
#if __name__ == '__main__':
#    test()
    
street_types = audit(SAMPLE_FILE)
#street_types = audit(OSM_FILE)
print len(street_types)
pprint.pprint(dict(street_types))

61
{'1100': set(['First Street, Suite 1100']),
 '12': set(['Harvard St #12']),
 '1302': set(['Cambridge Street #1302']),
 '1702': set(['Franklin Street, Suite 1702']),
 '3': set(['Kendall Square - 3']),
 '303': set(['First Street, Suite 303']),
 '501': set(['Bromfield Street #501']),
 '6': set(['South Station, near Track 6']),
 '846028': set(['PO Box 846028']),
 'Artery': set(['Southern Artery']),
 'Ave': set(['738 Commonwealth Ave',
             'Blue Hill Ave',
             'Boston Ave',
             'College Ave',
             'Commonwealth Ave',
             'Concord Ave',
             'Everett Ave',
             'Francesca Ave',
             'Gibson Ave',
             'Harrison Ave',
             'Highland Ave',
             'Josephine Ave',
             'Lexington Ave',
             'Massachusetts Ave',
             'Morrison Ave',
             'Mystic Ave',
             'Sagamore Ave',
             'Somerville Ave',
             "St. Paul's Ave",
             'Washington Ave',
             'Western Ave',
             'Willow Ave']),
 'Ave.': set(['Brighton Ave.',
              'Massachusetts Ave.',
              'Somerville Ave.',
              'Spaulding Ave.']),
 'Broadway': set(['Broadway', 'West Broadway']),
 'Brook': set(['Furnace Brook']),
 'Building': set(['South Market Building']),
 'Cambrdige': set(['Cambrdige']),
 'Corner': set(['Webster Street, Coolidge Corner']),
 'Ct': set(['Kelley Ct']),
 'Dartmouth': set(['Dartmouth']),
 'Dr': set(['Harborside Dr']),
 'Driveway': set(['Museum of Science Driveway']),
 'Elm': set(['Elm']),
 'Ext': set(['B Street Ext']),
 'Fellsway': set(['Fellsway']),
 'Fenway': set(['Fenway']),
 'Floor': set(['Boylston Street, 5th Floor']),
 'Greenway': set(['East Boston Greenway']),
 'HIghway': set(['American Legion HIghway']),
 'Hall': set(['Faneuil Hall']),
 'Hampshire': set(['Hampshire']),
 'Holland': set(['Holland']),
 'Hwy': set(["Monsignor O'Brien Hwy"]),
 'Jamaicaway': set(['Jamaicaway']),
 'LEVEL': set(['LOMASNEY WAY, ROOF LEVEL']),
 'Lafayette': set(['Avenue De Lafayette']),
 'Mall': set(['Cummington Mall']),
 'Market': set(['Faneuil Hall Market']),
 'Newbury': set(['Newbury']),
 'Park': set(['Acorn Park',
              'Agassiz Park',
              'Austin Park',
              'Batterymarch Park',
              'Canal Park',
              'Exeter Park',
              'Giles Park',
              'Granton Park',
              'Greenough Park',
              'Malden Street Park',
              'Monument Park',
              'Newsome Park']),
 'Pasteur': set(['Avenue Louis Pasteur']),
 'Pkwy': set(['Birmingham Pkwy']),
 'Pl': set(['Longfellow Pl']),
 'Plaza': set(['Two Center Plaza']),
 'Rd': set(['Abby Rd',
            'Aberdeen Rd',
            'Bristol Rd',
            'Goodnough Rd',
            'Oakland Rd',
            'Soldiers Field Rd',
            'Squanto Rd']),
 'Row': set(['Assembly Row', 'East India Row', 'Professors Row']),
 'ST': set(['Newton ST']),
 'South': set(['Charles Street South']),
 'Sq.': set(['1 Kendall Sq.']),
 'St': set(['1629 Cambridge St',
            'Adams St',
            'Antwerp St',
            'Arsenal St',
            'Athol St',
            'Bagnal St',
            'Bowdoin St',
            'Brentwood St',
            'Broad St',
            'Cambridge St',
            'Centre St',
            'Charles St',
            'Congress St',
            'Court St',
            'Cummington St',
            'Duval St',
            'Elm St',
            'Everett St',
            'George St',
            'Grove St',
            'Hammond St',
            'Hampshire St',
            'Holton St',
            'Kirkland St',
            'Leighton St',
            'Litchfield St',
            'Lothrop St',
            'Mackin St',
            'Main St',
            'Maverick St',
            'Medford St',
            'Merrill St',
            'Mt Auburn St',
            'N Beacon St',
            'Norfolk St',
            'Portsmouth St',
            'Richardson St',
            'Sea St',
            'South Waverly St',
            'Stewart St',
            'Ware St',
            'Waverly St',
            'Winter St',
            'Winthrop St']),
 'St,': set(['Walnut St,']),
 'St.': set(['Albion St.',
             'Banks St.',
             'Boylston St.',
             'Centre St.',
             'Elm St.',
             'Main St.',
             'Marshall St.',
             'Maverick St.',
             'Pearl St.',
             'Prospect St.',
             "Saint Mary's St.",
             'Stuart St.',
             'Tremont St.']),
 'Street.': set(['Hancock Street.']),
 'Terrace': set(['Alberta Terrace',
                 'Alveston Terrace',
                 'Arborway Terrace',
                 'Beecher Terrace',
                 'Norfolk Terrace',
                 'Westbourne Terrace']),
 'Wharf': set(['Central Wharf', 'Lewis Wharf', 'Long Wharf', 'Rowes Wharf']),
 'Windsor': set(['Windsor']),
 'Winsor': set(['Winsor']),
 'floor': set(['First Street, 18th floor', 'Sidney Street, 2nd floor']),
 'place': set(['argus place']),
 'rd.': set(['Corey rd.']),
 'st': set(['Main st']),
 'street': set(['Boston street'])}

In [198]:
# UPDATE THIS VARIABLE
mapping_street = {"Ave": "Avenue","Ave.":"Avenue","Ct":"Court","Dr":"Drive","Ext":"Exit",
           "HIghway":"Highway","Hwy":"Highway","Pkwy":"Parkway","Pl":"Place","Rd":"Road",
           "ST":"Street","Sq.":"Square","St":"Street","St,":"Street","St.":"Street",
           "Street.":"Street","rd.":"Road","st":"Street","street":"Street"}
def update_street(name, mapping):
    name = name.split(" ")
    if name[-1] in mapping.keys():
        name[-1] = mapping[name[-1]]
    name = " ".join(name)
    #name = name.title()
    
    # YOUR CODE HERE
  #  for key in mapping:
   #     name = name.replace(key, mapping[key])
        #print name
    return name

for typ , ways in street_types.iteritems():
    for name in ways:
        better_name = update_street(name, mapping_street)
        print name, "=>", better_name

South Station, near Track 6 => South Station, near Track 6
Cambridge Street #1302 => Cambridge Street #1302
Elm => Elm
Walnut St, => Walnut Street
Winsor => Winsor
Maverick St. => Maverick Street
Pearl St. => Pearl Street
Banks St. => Banks Street
Tremont St. => Tremont Street
Centre St. => Centre Street
Marshall St. => Marshall Street
Prospect St. => Prospect Street
Main St. => Main Street
Albion St. => Albion Street
Saint Mary's St. => Saint Mary's Street
Boylston St. => Boylston Street
Stuart St. => Stuart Street
Elm St. => Elm Street
Furnace Brook => Furnace Brook
Jamaicaway => Jamaicaway
East Boston Greenway => East Boston Greenway
Oakland Rd => Oakland Road
Abby Rd => Abby Road
Bristol Rd => Bristol Road
Squanto Rd => Squanto Road
Goodnough Rd => Goodnough Road
Soldiers Field Rd => Soldiers Field Road
Aberdeen Rd => Aberdeen Road
Cambrdige => Cambrdige
Boston street => Boston Street
Webster Street, Coolidge Corner => Webster Street, Coolidge Corner
Dartmouth => Dartmouth
Newton ST => Newton Street
Newbury => Newbury
Longfellow Pl => Longfellow Place
Museum of Science Driveway => Museum of Science Driveway
First Street, 18th floor => First Street, 18th floor
Sidney Street, 2nd floor => Sidney Street, 2nd floor
Boylston Street, 5th Floor => Boylston Street, 5th Floor
Malden Street Park => Malden Street Park
Batterymarch Park => Batterymarch Park
Monument Park => Monument Park
Newsome Park => Newsome Park
Granton Park => Granton Park
Exeter Park => Exeter Park
Austin Park => Austin Park
Canal Park => Canal Park
Agassiz Park => Agassiz Park
Acorn Park => Acorn Park
Greenough Park => Greenough Park
Giles Park => Giles Park
Avenue Louis Pasteur => Avenue Louis Pasteur
Kendall Square - 3 => Kendall Square - 3
Hancock Street. => Hancock Street
Monsignor O'Brien Hwy => Monsignor O'Brien Highway
Southern Artery => Southern Artery
Corey rd. => Corey Road
Harborside Dr => Harborside Drive
Faneuil Hall => Faneuil Hall
Beecher Terrace => Beecher Terrace
Arborway Terrace => Arborway Terrace
Norfolk Terrace => Norfolk Terrace
Alveston Terrace => Alveston Terrace
Alberta Terrace => Alberta Terrace
Westbourne Terrace => Westbourne Terrace
South Market Building => South Market Building
First Street, Suite 303 => First Street, Suite 303
Brighton Ave. => Brighton Avenue
Spaulding Ave. => Spaulding Avenue
Massachusetts Ave. => Massachusetts Avenue
Somerville Ave. => Somerville Avenue
Holland => Holland
LOMASNEY WAY, ROOF LEVEL => LOMASNEY WAY, ROOF LEVEL
Fellsway => Fellsway
Hammond St => Hammond Street
Brentwood St => Brentwood Street
Medford St => Medford Street
Athol St => Athol Street
Everett St => Everett Street
South Waverly St => South Waverly Street
Litchfield St => Litchfield Street
Hampshire St => Hampshire Street
Bowdoin St => Bowdoin Street
Winter St => Winter Street
Broad St => Broad Street
Cambridge St => Cambridge Street
Arsenal St => Arsenal Street
Merrill St => Merrill Street
Maverick St => Maverick Street
Antwerp St => Antwerp Street
George St => George Street
Centre St => Centre Street
1629 Cambridge St => 1629 Cambridge Street
Elm St => Elm Street
Congress St => Congress Street
Lothrop St => Lothrop Street
Main St => Main Street
Stewart St => Stewart Street
Charles St => Charles Street
Norfolk St => Norfolk Street
Bagnal St => Bagnal Street
Cummington St => Cummington Street
Holton St => Holton Street
Winthrop St => Winthrop Street
Mackin St => Mackin Street
Waverly St => Waverly Street
Court St => Court Street
Mt Auburn St => Mt Auburn Street
Duval St => Duval Street
Kirkland St => Kirkland Street
Adams St => Adams Street
N Beacon St => N Beacon Street
Grove St => Grove Street
Leighton St => Leighton Street
Richardson St => Richardson Street
Sea St => Sea Street
Ware St => Ware Street
Portsmouth St => Portsmouth Street
Bromfield Street #501 => Bromfield Street #501
Cummington Mall => Cummington Mall
Harvard St #12 => Harvard St #12
Avenue De Lafayette => Avenue De Lafayette
Hampshire => Hampshire
Fenway => Fenway
Massachusetts Ave => Massachusetts Avenue
Highland Ave => Highland Avenue
Lexington Ave => Lexington Avenue
Francesca Ave => Francesca Avenue
Gibson Ave => Gibson Avenue
Willow Ave => Willow Avenue
Harrison Ave => Harrison Avenue
Somerville Ave => Somerville Avenue
Mystic Ave => Mystic Avenue
Blue Hill Ave => Blue Hill Avenue
Everett Ave => Everett Avenue
Washington Ave => Washington Avenue
Morrison Ave => Morrison Avenue
Boston Ave => Boston Avenue
738 Commonwealth Ave => 738 Commonwealth Avenue
Josephine Ave => Josephine Avenue
Sagamore Ave => Sagamore Avenue
Commonwealth Ave => Commonwealth Avenue
St. Paul's Ave => St. Paul's Avenue
Concord Ave => Concord Avenue
Western Ave => Western Avenue
College Ave => College Avenue
Birmingham Pkwy => Birmingham Parkway
Charles Street South => Charles Street South
Franklin Street, Suite 1702 => Franklin Street, Suite 1702
Lewis Wharf => Lewis Wharf
Central Wharf => Central Wharf
Rowes Wharf => Rowes Wharf
Long Wharf => Long Wharf
Two Center Plaza => Two Center Plaza
American Legion HIghway => American Legion Highway
B Street Ext => B Street Exit
PO Box 846028 => PO Box 846028
Main st => Main Street
argus place => argus place
1 Kendall Sq. => 1 Kendall Square
First Street, Suite 1100 => First Street, Suite 1100
Broadway => Broadway
West Broadway => West Broadway
East India Row => East India Row
Professors Row => Professors Row
Assembly Row => Assembly Row
Windsor => Windsor
Faneuil Hall Market => Faneuil Hall Market
Kelley Ct => Kelley Court

## Quiz: Improving State Names

In [204]:

def audit_state_type(state_types, state_name):
    if state_name not in state_types:
        state_types[state_name] = 1
    else:
        state_types[state_name] += 1
        
def is_state_name(elem):
    return (elem.attrib['k'] == "addr:state")

def audit(osmfile):
    osm_file = open(osmfile, "r")
    state_types = defaultdict(set)
    for event, elem in ET.iterparse(osm_file, events=("start",)):

        if elem.tag == "node" or elem.tag == "way":
            for tag in elem.iter("tag"):
                if is_state_name(tag):
                    audit_state_type(state_types, tag.attrib['v'])
    osm_file.close()
    return state_types
  
state_types = audit(SAMPLE_FILE)
#state_types = audit(OSM_FILE)
print len(state_types)
pprint.pprint(dict(state_types))

7
{'MA': 2029,
 'MA- MASSACHUSETTS': 60,
 'MASSACHUSETTS': 1,
 'Ma': 6,
 'Massachusetts': 13,
 'WA': 1,
 'ma': 6}

In [207]:
mapping_state = { "MA- MASSACHUSETTS": "MA",
            "MASSACHUSETTS": "MA",
            "Ma": "MA",
            "Massachusetts": "MA",
            "ma": "MA"
            }

def update_state(name, mapping):
    if name in mapping.keys():
        name = mapping[name]
    return name

for state_type, num in state_types.iteritems():
    better_name = update_state(state_type, mapping_state)
    print state_type, "=>", better_name

ma => MA
MA => MA
MA- MASSACHUSETTS => MA
Massachusetts => MA
Ma => MA
WA => WA
MASSACHUSETTS => MA

## Quiz: Improving ZIP Code

In [206]:
def audit_zipcode(zipcode_types, zipcode):
#    m = street_type_re.search(street_name)
#    if m:
#        street_type = m.group()
#        if street_type not in expected:
#            street_types[street_type].add(street_name)

    if zipcode not in zipcode_types:
        zipcode_types[zipcode] = 1
    else:
        zipcode_types[zipcode] += 1
        
def is_zipcode(elem):
    return (elem.attrib['k'] == "addr:postcode")

def audit(osmfile):
    osm_file = open(osmfile, "r")
    zipcode_types = defaultdict(set)
    for event, elem in ET.iterparse(osm_file, events=("start",)):

        if elem.tag == "node" or elem.tag == "way":
            for tag in elem.iter("tag"):
                if is_zipcode(tag):
                    audit_zipcode(zipcode_types, tag.attrib['v'])
    osm_file.close()
    return zipcode_types
  
zipcode_types = audit(SAMPLE_FILE)
#zipcode_types = audit(OSM_FILE)
print len(zipcode_types)
pprint.pprint(dict(zipcode_types))

123
{'01125': 1,
 '01238': 1,
 '01240': 1,
 '01250': 1,
 '01821': 1,
 '01854': 1,
 '01944': 1,
 '02026': 6,
 '02026-5036': 1,
 '02043': 3,
 '02108': 16,
 '02109': 12,
 '02110': 17,
 '02110-1301': 1,
 '02111': 23,
 '02113': 2,
 '02114': 82,
 '02114-3203': 2,
 '02115': 15,
 '02116': 53,
 '02118': 11,
 '02119': 7,
 '02120': 8,
 '02121': 2,
 '02122': 7,
 '02124': 10,
 '02125': 10,
 '02126': 8,
 '02127': 13,
 '02128': 26,
 '02129': 10,
 '02130': 177,
 '02130-4803': 1,
 '02131': 7,
 '02131-3025': 2,
 '02131-4931': 1,
 '02132': 18,
 '02132-1239': 1,
 '02132-3226': 1,
 '02134': 57,
 '02134-1305': 9,
 '02134-1306': 2,
 '02134-1307': 28,
 '02134-1311': 3,
 '02134-1312': 2,
 '02134-1313': 4,
 '02134-1316': 3,
 '02134-1317': 4,
 '02134-1318': 2,
 '02134-1319': 5,
 '02134-1321': 4,
 '02134-1322': 5,
 '02134-1327': 1,
 '02134-1409': 4,
 '02134-1420': 9,
 '02134-1433': 11,
 '02134-1442': 5,
 '02135': 263,
 '02136': 6,
 '02136-2460': 1,
 '02138': 55,
 '02138-1901': 1,
 '02138-2701': 8,
 '02138-2706': 3,
 '02138-2724': 1,
 '02138-2736': 2,
 '02138-2742': 1,
 '02138-2762': 1,
 '02138-2763': 1,
 '02138-2801': 4,
 '02138-2901': 4,
 '02138-2903': 8,
 '02138-2933': 3,
 '02138-3003': 1,
 '02138-3824': 1,
 '02139': 425,
 '02140': 21,
 '02140-1340': 1,
 '02140-2215': 1,
 '02141': 18,
 '02142': 39,
 '02143': 66,
 '02144': 116,
 '02145': 63,
 '02148': 1,
 '02149': 23,
 '02150': 41,
 '02151': 7,
 '02152': 4,
 '02155': 27,
 '02159': 1,
 '02169': 53,
 '02170': 4,
 '02171': 4,
 '02174': 1,
 '02184': 3,
 '02186': 9,
 '02189': 1,
 '02190': 1,
 '02191': 1,
 '02199': 3,
 '02201': 1,
 '02205': 1,
 '02210': 30,
 '02215': 62,
 '02284-6028': 1,
 '0239': 1,
 '02445': 13,
 '02445-5841': 1,
 '02445-7638': 1,
 '02446': 41,
 '02458': 5,
 '02459': 8,
 '02467': 28,
 '02472': 33,
 '02474': 130,
 '02474-8735': 1,
 '02476': 8,
 '02478': 9,
 'MA': 4,
 'MA 02116': 3,
 'MA 02118': 1,
 'MA 02186': 1}

In [215]:
# UPDATE THIS VARIABLE
zipcode_re = re.compile(r'\d+')

def update_zipcode(zipcode):
    zipcode = zipcode_re.findall(zipcode)
    
    if zipcode != [] and len(zipcode[0]) == 5:
        zipcode = zipcode[0]
        if int(zipcode) <= 1431 or int(zipcode) >= 2770:
            zipcode = '0'
    else:
        zipcode = '0'
    return zipcode

for zipcode_type, num in zipcode_types.iteritems():
    better_zipcode = update_zipcode(zipcode_type)
    print zipcode_type, "=>", better_zipcode

0239 => 0
02186 => 02186
02184 => 02184
02134-1327 => 02134
02189 => 02189
02134-1322 => 02134
02134-1321 => 02134
02138-1901 => 02138
02132-3226 => 02132
01821 => 01821
02134-1433 => 02134
02108 => 02108
02026 => 02026
02476 => 02476
02474 => 02474
02472 => 02472
02139 => 02139
02134-1319 => 02134
02478 => 02478
02136-2460 => 02136
02131-3025 => 02131
02136 => 02136
02140-1340 => 02140
02134 => 02134
02205 => 02205
02132 => 02132
02131 => 02131
02130 => 02130
01854 => 01854
02110-1301 => 02110
02138 => 02138
02138-2903 => 02138
02138-2901 => 02138
02134-1442 => 02134
01250 => 0
02132-1239 => 02132
02445-7638 => 02445
02446 => 02446
02445 => 02445
02138-2742 => 02138
02120 => 02120
02121 => 02121
02210 => 02210
02124 => 02124
02125 => 02125
02126 => 02126
02215 => 02215
02128 => 02128
02129 => 02129
02474-8735 => 02474
01240 => 0
02114-3203 => 02114
02458 => 02458
02459 => 02459
MA 02118 => 02118
MA 02116 => 02116
01125 => 0
02109 => 02109
MA 02186 => 02186
02155 => 02155
02151 => 02151
02150 => 02150
02152 => 02152
02159 => 02159
02026-5036 => 02026
01238 => 0
02138-2724 => 02138
02445-5841 => 02445
02138-2933 => 02138
02144 => 02144
02145 => 02145
02142 => 02142
02143 => 02143
02140 => 02140
02141 => 02141
02148 => 02148
02149 => 02149
02138-2736 => 02138
02131-4931 => 02131
02138-3824 => 02138
02134-1316 => 02134
02134-1317 => 02134
02134-1312 => 02134
02134-1313 => 02134
02134-1311 => 02134
MA => 0
02134-1318 => 02134
01944 => 01944
02171 => 02171
02134-1409 => 02134
02174 => 02174
02170 => 02170
02122 => 02122
02138-2706 => 02138
02138-2701 => 02138
02140-2215 => 02140
02134-1420 => 02134
02127 => 02127
02114 => 02114
02134-1305 => 02134
02134-1307 => 02134
02134-1306 => 02134
02043 => 02043
02169 => 02169
02130-4803 => 02130
02191 => 02191
02190 => 02190
02199 => 02199
02201 => 02201
02138-2801 => 02138
02284-6028 => 02284
02119 => 02119
02118 => 02118
02138-3003 => 02138
02111 => 02111
02110 => 02110
02113 => 02113
02115 => 02115
02135 => 02135
02116 => 02116
02467 => 02467
02138-2762 => 02138
02138-2763 => 02138

In [154]:
print type(update_zipcode('10101'))

<type 'str'>

## Quiz: Preparing For Database

In [251]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""
After auditing is complete the next step is to prepare the data to be inserted into a SQL database.
To do so you will parse the elements in the OSM XML file, transforming them from document format to
tabular format, thus making it possible to write to .csv files.  These csv files can then easily be
imported to a SQL database as tables.

The process for this transformation is as follows:
- Use iterparse to iteratively step through each top level element in the XML
- Shape each element into several data structures using a custom function
- Utilize a schema and validation library to ensure the transformed data is in the correct format
- Write each data structure to the appropriate .csv files

We've already provided the code needed to load the data, perform iterative parsing and write the
output to csv files. Your task is to complete the shape_element function that will transform each
element into the correct format. To make this process easier we've already defined a schema (see
the schema.py file in the last code tab) for the .csv files and the eventual tables. Using the 
cerberus library we can validate the output against this schema to ensure it is correct.

## Shape Element Function
The function should take as input an iterparse Element object and return a dictionary.

### If the element top level tag is "node":
The dictionary returned should have the format {"node": .., "node_tags": ...}

The "node" field should hold a dictionary of the following top level node attributes:
- id
- user
- uid
- version
- lat
- lon
- timestamp
- changeset
All other attributes can be ignored

The "node_tags" field should hold a list of dictionaries, one per secondary tag. Secondary tags are
child tags of node which have the tag name/type: "tag". Each dictionary should have the following
fields from the secondary tag attributes:
- id: the top level node id attribute value
- key: the full tag "k" attribute value if no colon is present or the characters after the colon if one is.
- value: the tag "v" attribute value
- type: either the characters before the colon in the tag "k" value or "regular" if a colon
        is not present.

Additionally,

- if the tag "k" value contains problematic characters, the tag should be ignored
- if the tag "k" value contains a ":" the characters before the ":" should be set as the tag type
  and characters after the ":" should be set as the tag key
- if there are additional ":" in the "k" value they and they should be ignored and kept as part of
  the tag key. For example:

  <tag k="addr:street:name" v="Lincoln"/>
  should be turned into
  {'id': 12345, 'key': 'street:name', 'value': 'Lincoln', 'type': 'addr'}

- If a node has no secondary tags then the "node_tags" field should just contain an empty list.

The final return value for a "node" element should look something like:

{'node': {'id': 757860928,
          'user': 'uboot',
          'uid': 26299,
       'version': '2',
          'lat': 41.9747374,
          'lon': -87.6920102,
          'timestamp': '2010-07-22T16:16:51Z',
      'changeset': 5288876},
 'node_tags': [{'id': 757860928,
                'key': 'amenity',
                'value': 'fast_food',
                'type': 'regular'},
               {'id': 757860928,
                'key': 'cuisine',
                'value': 'sausage',
                'type': 'regular'},
               {'id': 757860928,
                'key': 'name',
                'value': "Shelly's Tasty Freeze",
                'type': 'regular'}]}

### If the element top level tag is "way":
The dictionary should have the format {"way": ..., "way_tags": ..., "way_nodes": ...}

The "way" field should hold a dictionary of the following top level way attributes:
- id
-  user
- uid
- version
- timestamp
- changeset

All other attributes can be ignored

The "way_tags" field should again hold a list of dictionaries, following the exact same rules as
for "node_tags".

Additionally, the dictionary should have a field "way_nodes". "way_nodes" should hold a list of
dictionaries, one for each nd child tag.  Each dictionary should have the fields:
- id: the top level element (way) id
- node_id: the ref attribute value of the nd tag
- position: the index starting at 0 of the nd tag i.e. what order the nd tag appears within
            the way element

The final return value for a "way" element should look something like:

{'way': {'id': 209809850,
         'user': 'chicago-buildings',
         'uid': 674454,
         'version': '1',
         'timestamp': '2013-03-13T15:58:04Z',
         'changeset': 15353317},
 'way_nodes': [{'id': 209809850, 'node_id': 2199822281, 'position': 0},
               {'id': 209809850, 'node_id': 2199822390, 'position': 1},
               {'id': 209809850, 'node_id': 2199822392, 'position': 2},
               {'id': 209809850, 'node_id': 2199822369, 'position': 3},
               {'id': 209809850, 'node_id': 2199822370, 'position': 4},
               {'id': 209809850, 'node_id': 2199822284, 'position': 5},
               {'id': 209809850, 'node_id': 2199822281, 'position': 6}],
 'way_tags': [{'id': 209809850,
               'key': 'housenumber',
               'type': 'addr',
               'value': '1412'},
              {'id': 209809850,
               'key': 'street',
               'type': 'addr',
               'value': 'West Lexington St.'},
              {'id': 209809850,
               'key': 'street:name',
               'type': 'addr',
               'value': 'Lexington'},
              {'id': '209809850',
               'key': 'street:prefix',
               'type': 'addr',
               'value': 'West'},
              {'id': 209809850,
               'key': 'street:type',
               'type': 'addr',
               'value': 'Street'},
              {'id': 209809850,
               'key': 'building',
               'type': 'regular',
               'value': 'yes'},
              {'id': 209809850,
               'key': 'levels',
               'type': 'building',
               'value': '1'},
              {'id': 209809850,
               'key': 'building_id',
               'type': 'chicago',
               'value': '366409'}]}
"""

import csv
import codecs
import pprint
import re
import xml.etree.cElementTree as ET

import cerberus

import schema

#OSM_PATH = "example.osm"
OSM_PATH = "boston_massachusetts_sample.osm"
#OSM_PATH = "boston_massachusetts.osm"


NODES_PATH = "nodes.csv"
NODE_TAGS_PATH = "nodes_tags.csv"
WAYS_PATH = "ways.csv"
WAY_NODES_PATH = "ways_nodes.csv"
WAY_TAGS_PATH = "ways_tags.csv"

LOWER_COLON = re.compile(r'^([a-z]|_)+:([a-z]|_)+')
PROBLEMCHARS = re.compile(r'[=\+/&<>;\'"\?%#$@\,\. \t\r\n]')

SCHEMA = schema.schema

# Make sure the fields order in the csvs matches the column order in the sql table schema
NODE_FIELDS = ['id', 'lat', 'lon', 'user', 'uid', 'version', 'changeset', 'timestamp']
NODE_TAGS_FIELDS = ['id', 'key', 'value', 'type']
WAY_FIELDS = ['id', 'user', 'uid', 'version', 'changeset', 'timestamp']
WAY_TAGS_FIELDS = ['id', 'key', 'value', 'type']
WAY_NODES_FIELDS = ['id', 'node_id', 'position']


def shape_element(element, node_attr_fields=NODE_FIELDS, way_attr_fields=WAY_FIELDS,
                  problem_chars=PROBLEMCHARS, default_tag_type='regular'):
    """Clean and shape node or way XML element to Python dict"""

    node_attribs = {}
    way_attribs = {}
    way_nodes = []
    tags = []  # Handle secondary tags the same way for both node and way elements

    # YOUR CODE HERE
    if element.tag == 'node':
        node_attribs['id'] = element.attrib['id']
        node_attribs['user'] = element.attrib['user']
        node_attribs['uid'] = element.attrib['uid']
        node_attribs['version'] = element.attrib['version']
        node_attribs['lat'] = element.attrib['lat']
        node_attribs['lon'] = element.attrib['lon']
        node_attribs['timestamp'] = element.attrib['timestamp']
        node_attribs['changeset'] = element.attrib['changeset']

        for tag in element.iter("tag"):
            d={}
            d['id'] = node_attribs['id']
            k = tag.attrib['k']
            if PROBLEMCHARS.match(k) == None:
                if LOWER_COLON.match(k) != None:
                    d['type'] = k.split(':')[0]
                    d['key'] = ':'.join(k.split(':')[1:])
                else:
                    d['type'] = 'regular'
                    d['key'] = k
                    
            if  k == "addr:street":
                d['value'] = update_street(tag.attrib['v'], mapping_street)
            elif  k == "addr:state":
                d['value'] = update_state(tag.attrib['v'], mapping_state)
            elif  k == "addr:postcode":
                d['value'] = update_zipcode(tag.attrib['v'])
            else:
                d['value'] = tag.attrib['v']
            tags.append(d)
        return {'node': node_attribs, 'node_tags': tags}
    
    elif element.tag == 'way':
        way_attribs['id'] = element.attrib['id']
        way_attribs['user'] = element.attrib['user']
        way_attribs['uid'] = element.attrib['uid']
        way_attribs['version'] = element.attrib['version']
        way_attribs['timestamp'] = element.attrib['timestamp']
        way_attribs['changeset'] = element.attrib['changeset']

        for tag in element.iter("tag"):
            d={}
            d['id'] = way_attribs['id']
            k = tag.attrib['k']
            if PROBLEMCHARS.match(k) == None:
                if LOWER_COLON.match(k) != None:
                    d['type'] = k.split(':')[0]
                    d['key'] = ':'.join(k.split(':')[1:])
                else:
                    d['type'] = 'regular'
                    d['key'] = k
                    
            if  k == "addr:street":
                d['value'] = update_street(tag.attrib['v'], mapping_street)
            elif  k == "addr:state":
                d['value'] = update_state(tag.attrib['v'], mapping_state)
            elif  k == "addr:postcode":
                d['value'] = update_zipcode(tag.attrib['v'])
            else:
                d['value'] = tag.attrib['v']
            tags.append(d)
        
        index = 0
        for tag in element.iter("nd"):
            d={}
            d['id'] = way_attribs['id']
            d['node_id'] = tag.attrib['ref']
            d['position'] = index
            way_nodes.append(d)
            index +=1
        return {'way': way_attribs, 'way_nodes': way_nodes, 'way_tags': tags}



# ================================================== #
#               Helper Functions                     #
# ================================================== #
def get_element(osm_file, tags=('node', 'way', 'relation')):
    """Yield element if it is the right type of tag"""

    context = ET.iterparse(osm_file, events=('start', 'end'))
    _, root = next(context)
    for event, elem in context:
        if event == 'end' and elem.tag in tags:
            yield elem
            root.clear()


def validate_element(element, validator, schema=SCHEMA):
    """Raise ValidationError if element does not match schema"""
    if validator.validate(element, schema) is not True:
        field, errors = next(validator.errors.iteritems())
        message_string = "\nElement of type '{0}' has the following errors:\n{1}"
        error_string = pprint.pformat(errors)
        
        raise Exception(message_string.format(field, error_string))


class UnicodeDictWriter(csv.DictWriter, object):
    """Extend csv.DictWriter to handle Unicode input"""

    def writerow(self, row):
        super(UnicodeDictWriter, self).writerow({
            k: (v.encode('utf-8') if isinstance(v, unicode) else v) for k, v in row.iteritems()
        })

    def writerows(self, rows):
        for row in rows:
            self.writerow(row)


# ================================================== #
#               Main Function                        #
# ================================================== #
def process_map(file_in, validate):
    """Iteratively process each XML element and write to csv(s)"""

    with codecs.open(NODES_PATH, 'w') as nodes_file, \
         codecs.open(NODE_TAGS_PATH, 'w') as nodes_tags_file, \
         codecs.open(WAYS_PATH, 'w') as ways_file, \
         codecs.open(WAY_NODES_PATH, 'w') as way_nodes_file, \
         codecs.open(WAY_TAGS_PATH, 'w') as way_tags_file:

        nodes_writer = UnicodeDictWriter(nodes_file, NODE_FIELDS)
        node_tags_writer = UnicodeDictWriter(nodes_tags_file, NODE_TAGS_FIELDS)
        ways_writer = UnicodeDictWriter(ways_file, WAY_FIELDS)
        way_nodes_writer = UnicodeDictWriter(way_nodes_file, WAY_NODES_FIELDS)
        way_tags_writer = UnicodeDictWriter(way_tags_file, WAY_TAGS_FIELDS)

        nodes_writer.writeheader()
        node_tags_writer.writeheader()
        ways_writer.writeheader()
        way_nodes_writer.writeheader()
        way_tags_writer.writeheader()

        validator = cerberus.Validator()

        for element in get_element(file_in, tags=('node', 'way')):
            el = shape_element(element)
            if el:
                if validate is True:
                    validate_element(el, validator)

                if element.tag == 'node':
                    nodes_writer.writerow(el['node'])
                    node_tags_writer.writerows(el['node_tags'])
                elif element.tag == 'way':
                    ways_writer.writerow(el['way'])
                    way_nodes_writer.writerows(el['way_nodes'])
                    way_tags_writer.writerows(el['way_tags'])


if __name__ == '__main__':
    # Note: Validation is ~ 10X slower. For the project consider using a small
    # sample of the map when validating.
    process_map(OSM_PATH, validate=True)

## create sql table for nodes

In [ ]:
# .import is not woring in Python shell. It should be run from sqlite cmd.

import csv
import sqlite3

#create sql table for nodes
con = sqlite3.connect('boston_massachusetts_sample.db')
con.text_factory = str
cur = con.cursor()
cur.execute('''CREATE TABLE nodes (
    id  INTEGER PRIMARY KEY NOT NULL,
    lat FLOAT,
    lon FLOAT,
    user TEXT,
    uid INTEGER,
    version INTEGER,
    changeset INTEGER,
    timestamp TIMESTAMP);''')
cur.execute('''.mode csv''')
cur.execute(''' .import nodes.csv nodes ''')
QUERY = '''PRAGMA table_info(nodes)'''
rows = cur.execute(QUERY).fetchall()
print(rows)

In [256]:
import csv
import sqlite3

#create sql table for nodes
#con = sqlite3.connect('boston_massachusetts_sample.db')
con = sqlite3.connect('boston_massachusetts.db')
con.text_factory = str
cur = con.cursor()

cur.execute('''DROP TABLE nodes;''')
cur.execute('''CREATE TABLE nodes (
    id INTEGER PRIMARY KEY NOT NULL,
    lat REAL,
    lon REAL,
    user TEXT,
    uid INTEGER,
    version INTEGER,
    changeset INTEGER,
    timestamp TEXT);''') 

with open ('nodes.csv', 'rb') as table:
    dicts = csv.DictReader(table)
    #header = reader.next()
    #dicts =({'id': int(line[0]), 'lat': float(line[1]), 'lon':float(line[2]), 'user':line[3],'uid':int(line[4]),
    #         'version':int(line[5]), 'changeset':int(line[6]),'timestamp':line[7]} for line in reader) 
    to_db = ((i['id'], i['lat'],i['lon'],i['user'],i['uid'],i['version'],i['changeset'],i['timestamp']) for i in dicts) 
    #to_db = (list(i.values()) for i in dicts) 
    cur.executemany("INSERT INTO nodes (id, lat, lon, user, uid, version, changeset, timestamp) VALUES (?,?,?,?,?,?,?,?);", to_db)
    #cur.executemany("INSERT INTO nodes (id, lat, lon, user, uid, version, changeset, timestamp) VALUES (list(dicts.values()));")
con.commit()
#QUERY = '''PRAGMA table_info(nodes)'''
QUERY = '''SELECT * FROM nodes LIMIT 3;'''
rows = cur.execute(QUERY).fetchall()
#print(rows)
pprint.pprint(rows)

[(30730952,
  42.3678097,
  -71.0218711,
  'wambag',
  326503,
  2,
  14335103,
  '2012-12-19T19:24:31Z'),
 (30730953,
  42.3677364,
  -71.0218568,
  'wambag',
  326503,
  2,
  14335103,
  '2012-12-19T19:24:31Z'),
 (30730954,
  42.3676084,
  -71.0218168,
  'wambag',
  326503,
  2,
  14335103,
  '2012-12-19T19:24:31Z')]

## create sql table for nodes_tags

In [258]:
#create sql table for nodes_tags
#cur.execute('''DROP TABLE nodes_tags;''')
cur.execute('''CREATE TABLE nodes_tags (
    id INTEGER,
    key TEXT,
    value TEXT,
    type TEXT,
    FOREIGN KEY (id) REFERENCES nodes(id));''') 

with open ('nodes_tags.csv', 'rb') as table:
    dicts = csv.DictReader(table)
    to_db = ((i['id'], i['key'],i['value'],i['type']) for i in dicts)  
    cur.executemany("INSERT INTO nodes_tags (id, key,value,type) VALUES (?,?,?,?);", to_db)
con.commit()
#QUERY = '''PRAGMA table_info(nodes_tags)'''
QUERY = '''SELECT * FROM nodes_tags LIMIT 5;'''
rows = cur.execute(QUERY).fetchall()
#print(rows)
pprint.pprint(rows)

[(31419556, 'name', 'Firebrand Saints', 'regular'),
 (31419556, 'amenity', 'restaurant', 'regular'),
 (31419650,
  'url',
  'http://www.mbta.com/schedules_and_maps/subway/lines/stations/?stopId=12412',
  'regular'),
 (31419650, 'name', 'Kendall/MIT', 'regular'),
 (31419650, 'railway', 'subway_entrance', 'regular')]

## create sql table for ways

In [259]:
#create sql table for ways
#cur.execute('''DROP TABLE ways;''')
cur.execute('''CREATE TABLE ways (
    id INTEGER PRIMARY KEY NOT NULL,
    user TEXT,
    uid INTEGER,
    version TEXT,
    changeset INTEGER,
    timestamp TEXT);''') 

with open ('ways.csv', 'rb') as table:
    dicts = csv.DictReader(table)
    to_db = ((i['id'], i['user'],i['uid'],i['version'],i['changeset'],i['timestamp']) for i in dicts)  
    cur.executemany("INSERT INTO ways (id, user,uid,version,changeset,timestamp) VALUES (?,?,?,?,?,?);", to_db)
con.commit()
#QUERY = '''PRAGMA table_info(ways)'''
QUERY = '''SELECT * FROM ways LIMIT 5;'''
rows = cur.execute(QUERY).fetchall()
#print(rows)
pprint.pprint(rows)

[(4790718, 'JessAk71', 381909, '3', 6963203, '2011-01-14T00:06:42Z'),
 (4790735, 'claysmalley', 119881, '4', 9069918, '2011-08-19T22:12:46Z'),
 (4824114, 'effektz', 3983283, '20', 39519438, '2016-05-23T20:54:09Z'),
 (4824115, 'ezr2', 1733549, '13', 32296955, '2015-06-29T23:22:38Z'),
 (4824116, 'effektz', 3983283, '24', 39518613, '2016-05-23T20:16:38Z')]

## create sql table for ways_tags

In [260]:
#create sql table for ways_tags
#cur.execute('''DROP TABLE ways_tags;''')
cur.execute('''CREATE TABLE ways_tags (
    id INTEGER NOT NULL,
    key TEXT NOT NULL,
    value TEXT NOT NULL,
    type TEXT,
    FOREIGN KEY (id) REFERENCES ways(id));''') 

with open ('ways_tags.csv', 'rb') as table:
    dicts = csv.DictReader(table)
    to_db = ((i['id'], i['key'],i['value'],i['type']) for i in dicts)  
    cur.executemany("INSERT INTO ways_tags(id, key,value,type) VALUES (?,?,?,?);", to_db)
con.commit()
#QUERY = '''PRAGMA table_info(ways_tags)'''
QUERY = '''SELECT * FROM ways_tags LIMIT 5;'''
rows = cur.execute(QUERY).fetchall()
#print(rows)
pprint.pprint(rows)

[(4790718, 'foot', 'yes', 'regular'),
 (4790718, 'name', 'Skybridge to Hilton', 'regular'),
 (4790718, 'layer', '1', 'regular'),
 (4790718, 'bridge', 'yes', 'regular'),
 (4790718, 'highway', 'footway', 'regular')]

## create sql table for ways_nodes

In [261]:
#create sql table for ways_nodes 
#cur.execute('''DROP TABLE ways_nodes;''')
cur.execute('''CREATE TABLE ways_nodes (
    id INTEGER NOT NULL,
    node_id INTEGER NOT NULL,
    position INTEGER NOT NULL,
    FOREIGN KEY (id) REFERENCES ways(id),
    FOREIGN KEY (node_id) REFERENCES nodes(id));''') 

with open ('ways_nodes.csv', 'rb') as table:
    dicts = csv.DictReader(table)
    to_db = ((i['id'], i['node_id'],i['position']) for i in dicts)  
    cur.executemany("INSERT INTO ways_nodes(id, node_id,position) VALUES (?,?,?);", to_db)
con.commit()
#QUERY = '''PRAGMA table_info(ways_nodes)'''
QUERY = '''SELECT * FROM ways_nodes LIMIT 5;'''
rows = cur.execute(QUERY).fetchall()
#print(rows)
pprint.pprint(rows)

[(4790718, 30730967, 0),
 (4790718, 30730968, 1),
 (4790718, 325383304, 2),
 (4790735, 1404985339, 0),
 (4790735, 1404985374, 1)]

In [263]:
import os
files_lst = ['nodes.csv','ways.csv','nodes_tags.csv','ways_tags.csv',
             'boston_massachusetts.osm', 'boston_massachusetts.db']
for i in files_lst: 
    print "file {!r} is {!s} MB".format(i,round(os.path.getsize(i)/(1024*1024.0),1))

file 'nodes.csv' is 151.8 MB
file 'ways.csv' is 20.0 MB
file 'nodes_tags.csv' is 16.9 MB
file 'ways_tags.csv' is 21.5 MB
file 'boston_massachusetts.osm' is 414.2 MB
file 'boston_massachusetts.db' is 234.6 MB

## Top Postal Codes

In [264]:
QUERY=('''SELECT tags.value, COUNT(*) as count 
        FROM (SELECT * FROM nodes_tags 
        UNION ALL 
        SELECT * FROM ways_tags) tags
        WHERE tags.key='postcode'
        GROUP BY tags.value
        ORDER BY count DESC;''')
rows = cur.execute(QUERY).fetchall()
#print(rows)
pprint.pprint(rows)

[('02139', 431),
 ('02135', 268),
 ('02130', 182),
 ('02134', 162),
 ('02474', 133),
 ('02144', 117),
 ('02138', 97),
 ('02114', 86),
 ('02143', 67),
 ('02145', 64),
 ('02215', 63),
 ('02116', 59),
 ('02169', 54),
 ('02150', 42),
 ('02446', 41),
 ('02142', 39),
 ('02210', 33),
 ('02472', 33),
 ('02155', 28),
 ('02467', 28),
 ('02128', 27),
 ('02149', 25),
 ('02111', 24),
 ('02140', 24),
 ('02132', 20),
 ('02141', 19),
 ('02110', 18),
 ('02108', 17),
 ('02445', 17),
 ('02115', 15),
 ('02127', 14),
 ('02109', 13),
 ('02131', 13),
 ('02118', 12),
 ('02186', 11),
 ('02124', 10),
 ('02125', 10),
 ('02129', 10),
 ('0', 9),
 ('02478', 9),
 ('02120', 8),
 ('02126', 8),
 ('02459', 8),
 ('02476', 8),
 ('02026', 7),
 ('02119', 7),
 ('02122', 7),
 ('02136', 7),
 ('02151', 7),
 ('02171', 5),
 ('02458', 5),
 ('02152', 4),
 ('02170', 4),
 ('02043', 3),
 ('02184', 3),
 ('02199', 3),
 ('02113', 2),
 ('02121', 2),
 ('01821', 1),
 ('01854', 1),
 ('01944', 1),
 ('02148', 1),
 ('02159', 1),
 ('02174', 1),
 ('02189', 1),
 ('02190', 1),
 ('02191', 1),
 ('02201', 1),
 ('02205', 1),
 ('02284', 1)]

## Sort cities by count, descending

In [265]:
QUERY=('''SELECT tags.value, COUNT(*) as count 
FROM (SELECT * FROM nodes_tags UNION ALL 
      SELECT * FROM ways_tags) tags
WHERE tags.key LIKE '%city'
GROUP BY tags.value
ORDER BY count DESC;''')
rows = cur.execute(QUERY).fetchall()
#print(rows)
pprint.pprint(rows)

[('Boston', 949),
 ('Cambridge', 556),
 ('Malden', 413),
 ('1', 411),
 ('Arlington', 285),
 ('Somerville', 245),
 ('Jamaica Plain', 96),
 ('2', 92),
 ('Quincy', 55),
 ('15', 52),
 ('Chelsea', 43),
 ('Brookline', 40),
 ('Medford', 34),
 ('Weymouth', 34),
 ('4', 33),
 ('14', 32),
 ('19', 29),
 ('6', 28),
 ('Chestnut Hill', 21),
 ('West Roxbury', 21),
 ('Allston', 18),
 ('Watertown', 18),
 ('10', 17),
 ('3', 16),
 ('18', 15),
 ('Arlington, MA', 15),
 ('20', 14),
 ('17', 12),
 ('Charlestown', 12),
 ('Dorchester', 12),
 ('Brookline, MA', 11),
 ('Everett', 11),
 ('16', 10),
 ('24', 10),
 ('Belmont', 10),
 ('Brighton', 10),
 ('Newton', 10),
 ('Roslindale', 10),
 ('12', 9),
 ('13', 9),
 ('Boston, MA', 9),
 ('East Boston', 9),
 ('Milton', 9),
 ('Cambridge, MA', 8),
 ('40', 6),
 ('Arlington. MA', 6),
 ('Hingham', 6),
 ('Hyde Park', 6),
 ('Mattapan', 6),
 ('Revere', 6),
 ('11', 5),
 ('21', 5),
 ('25', 5),
 ('5', 5),
 ('50', 5),
 ('Dedham', 5),
 ('yes', 5),
 ('8', 4),
 ('Cambridge, Massachusetts', 4),
 ('100', 3),
 ('23', 3),
 ('30', 3),
 ('32', 3),
 ('60', 3),
 ('9', 3),
 ('Braintree', 3),
 ('Newton Centre', 3),
 ('South Boston', 3),
 ('Watertown, MA', 3),
 ('Winthrop', 3),
 ('150', 2),
 ('22', 2),
 ('31', 2),
 ('52', 2),
 ('7', 2),
 ('Roxbury Crossing', 2),
 ('dedham', 2),
 ('somerville', 2),
 (', Arlington, MA', 1),
 ('106', 1),
 ('1146', 1),
 ('12 MW', 1),
 ('1300', 1),
 ('143', 1),
 ('144', 1),
 ('145', 1),
 ('161', 1),
 ('20 MW', 1),
 ('200', 1),
 ('2067 Massachusetts Avenue', 1),
 ('252', 1),
 ('26', 1),
 ('262', 1),
 ('27', 1),
 ('2733', 1),
 ('315', 1),
 ('35', 1),
 ('350', 1),
 ('35000', 1),
 ('36', 1),
 ('453', 1),
 ('46', 1),
 ('47', 1),
 ('500', 1),
 ('6 MW', 1),
 ('79', 1),
 ('BOSTON', 1),
 ('Belmont, MA', 1),
 ('Roxbury', 1),
 ('South End', 1),
 ('boston', 1),
 ('watertown, MA', 1),
 ('winthrop', 1),
 ('~15', 1),
 ('~7', 1)]

## Number of nodes

In [266]:
QUERY=('''SELECT COUNT(*) FROM nodes;''')
rows = cur.execute(QUERY).fetchall()
#print(rows)
pprint.pprint(rows)

[(1931442,)]

## Number of ways

In [267]:
QUERY=('''SELECT COUNT(*) FROM ways;''')
rows = cur.execute(QUERY).fetchall()
#print(rows)
pprint.pprint(rows)

[(309066,)]

## Number of  unique users

In [268]:
QUERY=('''SELECT COUNT(DISTINCT(e.uid))          
FROM (SELECT uid FROM nodes UNION ALL SELECT uid FROM ways) e;''')
rows = cur.execute(QUERY).fetchall()
#print(rows)
pprint.pprint(rows)

[(1295,)]

## Top 10 contributing users

In [269]:
QUERY=('''SELECT e.user, COUNT(*) as num
FROM (SELECT user FROM nodes UNION ALL SELECT user FROM ways) e
GROUP BY e.user
ORDER BY num DESC
LIMIT 10;''')
rows = cur.execute(QUERY).fetchall()
#print(rows)
pprint.pprint(rows)

[('crschmidt', 1202965),
 ('jremillard-massgis', 430112),
 ('OceanVortex', 92067),
 ('wambag', 80064),
 ('morganwahl', 69535),
 ('ryebread', 67063),
 ('MassGIS Import', 63277),
 ('ingalls_imports', 32461),
 ('Ahlzen', 27154),
 ('mapper999', 14967)]

## Number of users appearing only once (having 1 post)

In [270]:
QUERY=('''SELECT COUNT(*) 
FROM
    (SELECT e.user, COUNT(*) as num
     FROM (SELECT user FROM nodes UNION ALL SELECT user FROM ways) e
     GROUP BY e.user
     HAVING num=1)  u;''')
rows = cur.execute(QUERY).fetchall()
#print(rows)
pprint.pprint(rows)

[(355,)]

## Additional Data Exploration

## Top 10 appearing amenities

In [271]:
QUERY=('''SELECT value, COUNT(*) as num
FROM nodes_tags
WHERE key='amenity'
GROUP BY value
ORDER BY num DESC
LIMIT 10;''')
rows = cur.execute(QUERY).fetchall()
#print(rows)
pprint.pprint(rows)

[('bench', 1060),
 ('restaurant', 602),
 ('school', 509),
 ('place_of_worship', 287),
 ('library', 280),
 ('bicycle_parking', 273),
 ('cafe', 248),
 ('fast_food', 184),
 ('bicycle_rental', 138),
 ('post_box', 114)]

## Biggest religion (no surprise here)

In [272]:
QUERY=('''SELECT nodes_tags.value, COUNT(*) as num
FROM nodes_tags 
    JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value='place_of_worship') i
    ON nodes_tags.id=i.id
WHERE nodes_tags.key='religion'
GROUP BY nodes_tags.value
ORDER BY num DESC
LIMIT 1;''')
rows = cur.execute(QUERY).fetchall()
#print(rows)
pprint.pprint(rows)

[('christian', 255)]

## Most popular cuisines

In [273]:
QUERY=('''SELECT nodes_tags.value, COUNT(*) as num
FROM nodes_tags 
    JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value='restaurant') i
    ON nodes_tags.id=i.id
WHERE nodes_tags.key='cuisine'
GROUP BY nodes_tags.value
ORDER BY num DESC;''')
rows = cur.execute(QUERY).fetchall()
#print(rows)
pprint.pprint(rows)

[('pizza', 38),
 ('american', 35),
 ('italian', 31),
 ('chinese', 29),
 ('mexican', 27),
 ('indian', 21),
 ('thai', 19),
 ('asian', 13),
 ('japanese', 12),
 ('regional', 12),
 ('sandwich', 11),
 ('seafood', 9),
 ('ice_cream', 8),
 ('international', 7),
 ('sushi', 7),
 ('french', 5),
 ('ramen', 5),
 ('burger', 4),
 ('diner', 4),
 ('fish', 4),
 ('turkish', 4),
 ('mediterranean', 3),
 ('tapas', 3),
 ('vegetarian', 3),
 ('barbecue', 2),
 ('coffee_shop', 2),
 ('german', 2),
 ('greek', 2),
 ('kebab', 2),
 ('persian', 2),
 ('pub', 2),
 ('steak_house', 2),
 ('vietnamese', 2),
 ('Burmese', 1),
 ('Greek-American', 1),
 ('Israeli', 1),
 ('Italian panini, subs, pizza, calzone, zuppe', 1),
 ('Italian,_pizza,_pasta', 1),
 ('Modern American', 1),
 ('Scottish', 1),
 ('Tapas', 1),
 ('afghan', 1),
 ('argentinian', 1),
 ('bagel', 1),
 ('brazilian', 1),
 ('creole', 1),
 ('crepe', 1),
 ('deli', 1),
 ('eritrean', 1),
 ('ethiopian', 1),
 ('falafel', 1),
 ('french_cambodian', 1),
 ('frozen_yogurt', 1),
 ('korean', 1),
 ('kosher', 1),
 ('moroccan', 1),
 ('nepalese', 1),
 ('oysters,fish', 1),
 ('pasta', 1),
 ('peruvian', 1),
 ('pizza;burger;sandwich', 1),
 ('pizza;seafood;international', 1),
 ('portuguese', 1),
 ('ramen_noodle,_japanese', 1),
 ('salad', 1),
 ('salads', 1),
 ('salvadorean', 1),
 ('seasonal', 1),
 ('shawarma', 1),
 ('steak;seafood', 1),
 ('steakhouse', 1),
 ('tibetan', 1),
 ('vegan', 1),
 ('vegan;american;sandwich;international;vegetarian', 1),
 ('vegan;international;vegetarian', 1),
 ('vegan;vegetarian;asian;thai', 1),
 ('venezuelan', 1),
 ('vietnamese;thai', 1)]

## Conclusion

# =========================